@import "./variables.scss";

.contacts{
    flex: 0.25;
    height: calc(100vh - 65px);
    background: #fff;
    border-right: 1px solid rgb(236, 236, 236);

    & .contacts__List{
        height: calc(100% - 80px);
        overflow: scroll;
        overflow-y: auto;
        overflow-x: hidden;
        
        &::-webkit-scrollbar{
            background: none;
        }
    }

}
