@import "./variables.scss";

*{
    margin: 0;
    padding: 0;
    font-family: roboto, sans-serif;
  
    &::-webkit-scrollbar{
      width: 5px;
    }
  
    &::-webkit-scrollbar-thumb{
      width: 5px;
      background: $scrollBarThumb-background;
      border-radius: 10px;
    }
}