.messagesBox{
    margin: 10px;
    overflow: auto;
    overflow-y: scroll;

    &::-webkit-scrollbar{
        background: none;
    }

    &::-webkit-scrollbar-thumb{
        background: none;
    }

    & .message{
        display: flex;
        flex-direction: column;
        margin: 0 0 10px;
        padding: 10px;
        max-width: max-content;
        background: #fff;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        
        & p.text{
            max-width: 400px;
            margin: 0 50px 0 0;
        }

        & p.date{
            font-size: 11px;
            font-weight: 500;
            margin: -10px 0 0;
            text-align: end;
            color: rgb(231, 231, 231);
        }
    }

    & #received{
        border-bottom-right-radius: 10px;
        
        & p.date{
            color: rgb(133, 133, 133);
        }
    }

    & #sender{
        margin: 10px 0 10px auto;
        color: #fff;
        background: rgb(33, 146, 252);
        border-bottom-left-radius: 10px;
    }
}