@import "./variables.scss";

.sendMessage{
    margin: auto 0 0;
    padding: 10px;
    background: #fff;
    border-bottom-right-radius: 10px;
    
    & form{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        & input{
            font-size: 16px;
            font-weight: 400;
            margin: 0 20px;
            padding: 10px 20px;
            width: 100%;
            color: #000;
            background: rgb(238, 238, 238);
            border: none;
            border-radius: 10px;
            outline: none;
        }
    
        & button{
            display: flex;
            align-items: center;
            padding: 12px;
            font-size: 18px;
            font-weight: 500;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            
            &.send{
                color: #fff;
                background: $standarBlueColor;
            }
    
            &.image{
                color: $standarBlueColor;
                background: none;
    
                &:hover{
                    color: $standarBlueColorHover;
                    background: none;
                }
            }
            
            &:hover{
                background: $standarBlueColorHover;
            }
        }
    }
}